.embedded-album {
	margin-top: 60px;
	margin-bottom: 50px;

	&__feature {
		position: relative;
		max-width: 580px;
		height: 100%;

		a {
			display: block;
			height: 100%;

			img {
				height: 100%;
			}
		}

		&__copy {
			background-color: colour("primary");
			color: colour("lightest");
			padding: 20px;

			p {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 22px;
				font-weight: 500;
			}

			.credit {
				color: colour("darkest");
				margin-bottom: 0;
			}
		}
	}

	&__extra {
		display: none;
		width: 610px;
		margin-left: 16px;

		a {
			width: 280px;
			display: inline-block;
			margin-bottom: 20px;
			margin-right: 16px;

			img {
				width: 100%;
			}
		}
	}
}

@include media($medium) {

	.embedded-album {
		margin-left: -290px;
		width: 1230px;
		height: 394px;
		margin-top: 85px;
		margin-bottom: 105px;

		&__feature {
			display: inline-block;

			&__copy {
				position: absolute;
				bottom: -60px;
				left: 30px;
				width: 400px;
			}
		}

		&__extra {
			display: inline-block;
			vertical-align: top;
		}
	}
}
